<h1>WILLIAMS COMMUNICATIONS and TECHNOLOGY, since 1980</h1>
<%=image_tag("sat.jpg")%>
<h1>"Imagination is way important than Knowledge"</h1>

<%= link_to 'Nuclear', pages_nuclear_path %>
<%= link_to 'Home', pages_home_path %>
<%= link_to 'Landing', pages_landing_path %>
<%= link_to 'Contact', pages_contact_path %>

