<h1>CONTACT</h1>
<h1>arthurnwilliams@yahoo.com</h1>

<%=image_tag("unified.jpg")%>


<%= link_to 'Home', pages_home_path %>
<%= link_to 'About', pages_about_path %>
<%= link_to 'Nuclear', pages_nuclear_path %>
<%= link_to 'Landing', pages_landing_path %>