<h1>Welcome to WILLIAMS COMMUNICATIONS</h1>
<h1>"The Leader in Areospace and Military Technology"</h1>

 
                          <%=image_tag("ship.jpg")%>
<iframe width="1280" height="720" src="https://www.youtube.com/embed/3RXo-5Ya3DA" frameborder="0" allow="autopay; encrypted-media" allowfullscreen></iframe>

<h1>"It has become appalling obvious that our technology has exceeded our Humanity"</h1>


                          <%=image_tag("heavy.jpg")%>
                          
<%= link_to 'Landing', pages_landing_path %>
<%= link_to 'Nuclear', pages_nuclear_path %>
<%= link_to 'About', pages_about_path %>
<%= link_to 'Contact', pages_contact_path %>



