<h1>Soaring to the skys and beyond</h1>

<%=image_tag("sat2.jpg")%>
<%=image_tag("earth.png")%>


<%= link_to 'Home', pages_home_path %>
<%= link_to 'About', pages_about_path %>
<%= link_to 'Nuclear', pages_nuclear_path %>
<%= link_to 'Contact', pages_contact_path %>