<h1>Welcome to the Nuclear Missile Information Technology page!</h1>

<%=image_tag("nuclear.jpg")%>

<%= link_to 'Home', pages_home_path %>
<%= link_to 'About', pages_about_path %>
<%= link_to 'landing', pages_landing_path %>
<%= link_to 'Contact', pages_contact_path %>